<a href="https://colab.research.google.com/github/IBM-EPBL/IBM-Project-2613-1658478173/blob/main/IBMbasicpro.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>



#1.Split this string

In [1]:
string="Hi there Sam!"
print(string.split())

['Hi', 'there', 'Sam!']



#2.Use.format()to print the following string

In [2]:
planet="Earth"
diameter=12742
print('The diameter of {} is {} kilometers.'.format(planet,diameter));

The diameter of Earth is 12742 kilometers.



#3.In this nest dictionary grab the word "hello"

In [3]:
d = {'k1':[1,2,3,{'tricky':['oh','man','inception',{'target':[1,2,3,'hello']}]}]}
print(d['k1'][3]["tricky"][3]['target'][3])

hello



#4.1.Create an array of 10 zeros?

In [4]:
import numpy as np
array=np.zeros(10)
print("An array of 10 zeros:")
print(array)

An array of 10 zeros:
[0. 0. 0. 0. 0. 0. 0. 0. 0. 0.]

#4.2.Create an array of 10 fives?

In [ ]:
import numpy as np
array=np.ones(10)*5
print("An array of 10 fives:")
print(array)



#5.Create an array of all the even integers from 20 to 35

In [6]:
import numpy as np
array=np.arange(20,36,2)
print("Array of all the even integers from 20 to 36")
print(array)

Array of all the even integers from 20 to 36
[20 22 24 26 28 30 32 34]



#6.Create a 3x3 matrix with values ranging from 0 to 8

In [ ]:
import numpy as np
x =  np.arange(0, 9).reshape(3,3)
print(x)



#7.Concatinate a and b

In [ ]:
import numpy as np
a = np.array([1, 2, 3])
print(a)
b = np.array([4, 5, 6])
print(b)
print('\n---Result of a and b---')
print(np.concatenate((a, b)))



#8.Create a dataframe with 3 rows and 2 columns

In [ ]:
import pandas as pd
data = [['tom', 10], ['nick', 15], ['juli', 14]]
df = pd.DataFrame(data, columns=['Name', 'Age'])
print(df)



#9.Generate the series of dates from 1st Jan,2023 to 10th Feb,2023

In [ ]:
import datetime
import pandas as pd
 
# initializing date
test_date = datetime.datetime.strptime("01-01-2023", "%d-%m-%Y")
 
# initializing periods
periods = datetime.datetime.strptime("10-02-2023", "%d-%m-%Y")
 
date_generated = pd.date_range(test_date, periods)
print(date_generated.strftime("%d-%m-%Y"))



#10.Create 2D list of DataFrame

In [ ]:
import pandas as pd  
      
lists = [[1, 'aaa', 22], [2, 'bbb', 25], [3, 'ccc', 24]] 
      
df = pd.DataFrame(lists, columns =['ID', 'Name', 'Age']) 
print(df)